<h2>CELEBRITIES</h2>
<ul>
    <% celebs.forEach( (e) =>{ %>
        <li>
            <div>
                <a href="/celebrities/<%= e._id %>">
                    <%= e.name%>
                </a>
            </div>
        </li>
        <br>
        <% }); %>
</ul>