<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Hola <% name %> Ironhacker Be Like</h1>
  <ul>
  <%cities.forEach((city)=>{ %>
  <li><%=city%></li>
  <%}); %>
  </ul>
  <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif">
<p>AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
</body>
</html>
