<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
</head>
<body>
<%- include('partials/navbar') %>
  <div>
HOME
</div>
  <%- include('partials/footer') %>

</body>

</html>
